@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(156, 179, 223);
    min-height: auto;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container {
    background-color: darkgrey;
    max-width: 400px;
    min-height: 50px;
    padding: 50px;
    box-shadow: 15px 15px 15px black;
    border-radius: 10px;
}

form {
    flex-direction: column;
    max-width: 250px;
    max-height: 700x;
    align-items: center;
}

form label {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 3px;
    padding: 0;
}

#titulo {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

form input[type="radio"] {
    cursor: pointer;
}

form input[type="submit"] {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: rgb(156, 179, 223);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
}